<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="codebuilder">
      <section name="settingsSection" type="CodeBuilder.Configuration.SettingsSection,YeahTools"/>
      <section name="typeMappingSection" type="CodeBuilder.Configuration.TypeMappingSection, YeahTools"/>
      <section name="optionSection" type="CodeBuilder.Configuration.OptionSection, YeahTools"/>
      <section name="dataSourceSection" type="CodeBuilder.Configuration.DataSourceSection, YeahTools"/>
      <section name="templateSection" type="CodeBuilder.Configuration.TemplateSection, YeahTools"/>
    </sectionGroup>
  </configSections>
  <codebuilder>
    <settingsSection configSource="Config\Settings.xml"/>
    <typeMappingSection configSource="Config\TypeMapping.xml"/>
    <optionSection configSource="Config\Options.xml"/>
    <dataSourceSection configSource="Config\DataSources.xml"/>
    <templateSection configSource="Config\Templates.xml"/>
  </codebuilder>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libs;Engines"/>
    </assemblyBinding>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>